<html>

<head></head>
<title>myApp</title> 

</html>

<body>
    <h1 id="MyId">{{title}}</h1>
    <h3>sub heading</h3>
    <ul>
        {{#each list}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</body>