<html>
    
    <head></head>
    <title>myApp</title> 
    
    </html>
    
    <body>
        <h1><%=title%></h1>
        <h3>sub heading</h3>
        <ul>
            <% for(var i=0;i<list.length;i++){%>
                <li><%=list[i]%></li>
            <%}%>
        </ul>
    </body>